import(methods)
import(BiocGenerics)
import(Rsamtools)
import(BiocParallel)
import(rtracklayer)

importFrom(GenomicAlignments, summarizeOverlaps)
importMethodsFrom(GenomicAlignments, seqnames, findOverlaps, summarizeOverlaps)

export(
    fileList, "fileList<-", fileSample, "fileSample<-", 
    fileRange, "fileRange<-", fileExperiment, "fileExperiment<-",
    reduceByFile, reduceByRange,
    BamFileViews, BigWigFileViews, FaFileViews, 
    reduceByRange, reduceByFile,
    .fileTypeRegistry, registerFileType, findTypeRegistry, makeFileType
)

exportClasses(
    GenomicFileViews, BamFileViews, FaFileViews, BigWigFileViews
)

exportMethods(
    "[", dim, names, show, yieldSize,
    BamFileViews, countBam, scanBam, summarizeOverlaps, 
    BigWigFileViews, coverage, summary,
    FaFileViews
)
